
[v-cloak] {
  display: none !important;
}

:root {
  font-size: 18px;
}

button, input, select, textarea {
  font-size: 18px;
}

select {
  height: 34px;
  border: 2px solid #999;
  
  box-sizing: border-box;
}

input {
  height: 34px;
  border: 2px solid #999;

  border-radius: 0;

  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

.btn {
  display: inline-block;
  height: 25px;
  /* line-height: 25px; */
  padding: 4px 8px;
  border-radius: 5px;
  border: 2px solid #007BAE;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: #007BAE;
  background-color: white;
  text-align: center;
}

.btn.selected, .radio.selected {
  color: white;
  border-color: #007BAE;
  background-color: #007BAE;
}

.radio-wrapper {
  display: inline-block;
  white-space: nowrap;
}

.radio {
  display: inline-block;
  height: 25px;
  /* line-height: 25px; */
  padding: 4px 8px;
  border: 2px solid #007BAE;
  border-right-width: 0;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: #007BAE;
  background-color: white;
  text-align: center;
}

.radio:first-of-type {
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.radio:last-of-type {
  padding-right: 10px;

  border-right-width: 2px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (any-hover: hover) {
  .btn, .radio:not(.selected) {
    transition: background-color 0.2s;
  }
  .btn.selected {
    transition: background-color 0.2s, opacity 0.2s;
  }

  .btn:hover, .radio:not(.selected):hover {
    background-color: lightcyan;
  }
  .btn.selected:hover {
    background-color: #007BAE;
    opacity: 0.7;
  }
}

#action-btn-container {
  display: flex;
  margin-top: 24px;
  gap: 4px 8px;
}

.action-btn {
  border: 2px solid green;
  color: green;
}

@media (any-hover: hover) {
  .action-btn:hover {
    background-color: palegreen;
  }
}
@media (any-hover: none) {
  .action-btn:active {
    background-color: palegreen;
    transform: scale(0.9);
  }
}

.input-file input[type="file"] {
  display: none;
}

.input-file-container {
  display: flex;
  margin-top: 16px;
  align-items: center;
  flex-wrap: nowrap;
}

.input-file {
  white-space: nowrap;
}

.file-name {
  width: 350px;
  margin-left: 18px;
  
  white-space: wrap;
  overflow-wrap: break-word;
  word-break: break-all;
}

.image-container {
  margin-top: 16px;
}

#src-title, #dst-title {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  border: 1px solid black;
}

#setting {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
  row-gap: 8px;
}

.item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.item .name {
  width: 130px;
  text-align: center;

  .hosoku {
    font-size: 0.7em;
  }
}

.item .input {
  display: flex;
  width: 150px;
  justify-content: center;
}

.input-check-area {
  display: flex;
  column-gap: 8px;
}

#processing {
  position: fixed;
  bottom: 30px;
  right: 30px;

  font-size: 30px;
  font-weight: bold;

  color: red;

  z-index: 100;
}
